Flow Friedberg.json
[
    {
        "id": "828eabaa6e216ad5",
        "type": "tab",
        "label": "Sunergy Friedberg",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqtt_angle_h",
        "type": "mqtt in",
        "z": "828eabaa6e216ad5",
        "name": "Horizontal Angle",
        "topic": "cesithmcoil2025/nancy-friedberg/friedberg/h-angle",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 80,
        "wires": [
            [
                "ui_angle_h",
                "93e760ef18efcb44"
            ]
        ]
    },
    {
        "id": "mqtt_angle_v",
        "type": "mqtt in",
        "z": "828eabaa6e216ad5",
        "name": "Vertical Angle",
        "topic": "cesithmcoil2025/nancy-friedberg/friedberg/v-angle",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "ui_angle_v",
                "8c483bb2530f0540"
            ]
        ]
    },
    {
        "id": "mqtt_voltage",
        "type": "mqtt in",
        "z": "828eabaa6e216ad5",
        "name": "Panel Voltage",
        "topic": "cesithmcoil2025/nancy-friedberg/friedberg/panelvoltage",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "07f582eb02ec10b0"
            ]
        ]
    },
    {
        "id": "mqtt_current",
        "type": "mqtt in",
        "z": "828eabaa6e216ad5",
        "name": "Panel Current",
        "topic": "cesithmcoil2025/nancy-friedberg/friedberg/panelcurrent",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "41f24086511ea811",
                "cff5b29b347a3d2e"
            ]
        ]
    },
    {
        "id": "mqtt_out",
        "type": "mqtt out",
        "z": "828eabaa6e216ad5",
        "name": "Control MQTT Publisher",
        "topic": "cesithmcoil2025/nancy-friedberg/friedberg/h-angle",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 550,
        "y": 600,
        "wires": []
    },
    {
        "id": "d81bd096cdddf449",
        "type": "mqtt out",
        "z": "828eabaa6e216ad5",
        "name": "Control MQTT Publisher",
        "topic": "cesithmcoil2025/nancy-friedberg/friedberg/v-angle",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 550,
        "y": 680,
        "wires": []
    },
    {
        "id": "angle_h_slider",
        "type": "ui_slider",
        "z": "828eabaa6e216ad5",
        "name": "Angle H Slider",
        "label": "Set Angle H",
        "tooltip": "",
        "group": "dashboard_group",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "your/topic/control/angle-h",
        "topicType": "str",
        "min": 90,
        "max": 270,
        "step": 5,
        "className": "",
        "x": 160,
        "y": 600,
        "wires": [
            [
                "mqtt_out"
            ]
        ]
    },
    {
        "id": "angle_v_slider",
        "type": "ui_slider",
        "z": "828eabaa6e216ad5",
        "name": "Angle V Slider",
        "label": "Set Angle V",
        "tooltip": "",
        "group": "dashboard_group",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "your/topic/control/angle-v",
        "topicType": "str",
        "min": 0,
        "max": 90,
        "step": 5,
        "className": "",
        "x": 160,
        "y": 680,
        "wires": [
            [
                "d81bd096cdddf449"
            ]
        ]
    },
    {
        "id": "ui_angle_h",
        "type": "ui_text",
        "z": "828eabaa6e216ad5",
        "group": "dashboard_group",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "Horizontal Angle Display",
        "label": "Angle H",
        "format": "{{msg.payload}}°",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "ui_angle_v",
        "type": "ui_text",
        "z": "828eabaa6e216ad5",
        "group": "dashboard_group",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Vertical Angle Display",
        "label": "Angle V",
        "format": "{{msg.payload}}°",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "ui_power",
        "type": "ui_text",
        "z": "828eabaa6e216ad5",
        "group": "dashboard_group",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "Power Display",
        "label": "Power",
        "format": "{{msg.payload}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "738ac7d19eb43163",
        "type": "influxdb out",
        "z": "828eabaa6e216ad5",
        "d": true,
        "influxdb": "5a9fbceb545eeefe",
        "name": "",
        "measurement": "friedberg_power2",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "THM",
        "bucket": "IEM",
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "017e2a9ef20c02e8",
        "type": "mqtt in",
        "z": "828eabaa6e216ad5",
        "name": "Panel Power",
        "topic": "cesithmcoil2025/nancy-friedberg/friedberg/panelpower",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "ui_power",
                "738ac7d19eb43163"
            ]
        ]
    },
    {
        "id": "41f24086511ea811",
        "type": "influxdb out",
        "z": "828eabaa6e216ad5",
        "d": true,
        "influxdb": "5a9fbceb545eeefe",
        "name": "",
        "measurement": "friedberg_current",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "THM",
        "bucket": "IEM",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "07f582eb02ec10b0",
        "type": "influxdb out",
        "z": "828eabaa6e216ad5",
        "d": true,
        "influxdb": "5a9fbceb545eeefe",
        "name": "",
        "measurement": "friedberg_voltage",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "THM",
        "bucket": "IEM",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "8c483bb2530f0540",
        "type": "influxdb out",
        "z": "828eabaa6e216ad5",
        "d": true,
        "influxdb": "5a9fbceb545eeefe",
        "name": "",
        "measurement": "friedberg_angle_v",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "THM",
        "bucket": "IEM",
        "x": 860,
        "y": 120,
        "wires": []
    },
    {
        "id": "93e760ef18efcb44",
        "type": "influxdb out",
        "z": "828eabaa6e216ad5",
        "d": true,
        "influxdb": "5a9fbceb545eeefe",
        "name": "",
        "measurement": "friedberg_angle_h",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "THM",
        "bucket": "IEM",
        "x": 860,
        "y": 40,
        "wires": []
    },
    {
        "id": "cff5b29b347a3d2e",
        "type": "ui_gauge",
        "z": "828eabaa6e216ad5",
        "name": "",
        "group": "dashboard_group",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 900,
        "y": 280,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto Test Broker",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 15,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthQos": "0",
        "willQos": "0"
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "Sunergy Friedberg",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a9fbceb545eeefe",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "THM Solargraph",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://172.28.192.1:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Solar Tracker",
        "icon": "dashboard"
    }
]