Flow Nancy.json
[
    {
        "id": "49091907c6942e4b",
        "type": "tab",
        "label": "Sunergy Nancy",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "27a881a714ec5854",
        "type": "mqtt in",
        "z": "49091907c6942e4b",
        "name": "Horizontal Angle",
        "topic": "cesithmcoil2025/nancy-friedberg/nancy/h-angle",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "a0c47dbc724ec9f5"
            ]
        ]
    },
    {
        "id": "b1537b2d9c0e67f1",
        "type": "mqtt in",
        "z": "49091907c6942e4b",
        "name": "Vertical Angle",
        "topic": "cesithmcoil2025/nancy-friedberg/nancy/v-angle",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "445c9aab5a4fb9cc"
            ]
        ]
    },
    {
        "id": "31c88532f89d8f47",
        "type": "mqtt in",
        "z": "49091907c6942e4b",
        "name": "Panel Voltage",
        "topic": "cesithmcoil2025/nancy-friedberg/nancy/panelvoltage",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "c2c3e8e589c4d7bb"
            ]
        ]
    },
    {
        "id": "239a0a86720a1d27",
        "type": "mqtt in",
        "z": "49091907c6942e4b",
        "name": "Panel Current",
        "topic": "cesithmcoil2025/nancy-friedberg/nancy/panelcurrent",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 410,
        "y": 340,
        "wires": [
            [
                "0307f1353be6a1f3"
            ]
        ]
    },
    {
        "id": "0648a6047f8b130c",
        "type": "mqtt out",
        "z": "49091907c6942e4b",
        "name": "Control MQTT Publisher",
        "topic": "cesithmcoil2025/nancy-friedberg/nancy/h-angle",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 810,
        "y": 500,
        "wires": []
    },
    {
        "id": "3a76933a0743c6a7",
        "type": "mqtt out",
        "z": "49091907c6942e4b",
        "name": "Control MQTT Publisher",
        "topic": "cesithmcoil2025/nancy-friedberg/nancy/v-angle",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 810,
        "y": 580,
        "wires": []
    },
    {
        "id": "9fe72d55d7748d31",
        "type": "ui_slider",
        "z": "49091907c6942e4b",
        "name": "Angle H Slider",
        "label": "Set Angle H",
        "tooltip": "",
        "group": "010cd8e1140feaf0",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "your/topic/control/angle-h",
        "topicType": "str",
        "min": 90,
        "max": 270,
        "step": 5,
        "className": "",
        "x": 420,
        "y": 500,
        "wires": [
            [
                "0648a6047f8b130c"
            ]
        ]
    },
    {
        "id": "8d3183b503e0a5f2",
        "type": "ui_slider",
        "z": "49091907c6942e4b",
        "name": "Angle V Slider",
        "label": "Set Angle V",
        "tooltip": "",
        "group": "010cd8e1140feaf0",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "your/topic/control/angle-v",
        "topicType": "str",
        "min": 0,
        "max": 90,
        "step": 5,
        "className": "",
        "x": 420,
        "y": 580,
        "wires": [
            [
                "3a76933a0743c6a7"
            ]
        ]
    },
    {
        "id": "a0c47dbc724ec9f5",
        "type": "ui_text",
        "z": "49091907c6942e4b",
        "group": "010cd8e1140feaf0",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "Horizontal Angle Display",
        "label": "Angle H",
        "format": "{{msg.payload}}°",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "445c9aab5a4fb9cc",
        "type": "ui_text",
        "z": "49091907c6942e4b",
        "group": "010cd8e1140feaf0",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Vertical Angle Display",
        "label": "Angle V",
        "format": "{{msg.payload}}°",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 820,
        "y": 220,
        "wires": []
    },
    {
        "id": "55253578026650cc",
        "type": "ui_text",
        "z": "49091907c6942e4b",
        "group": "010cd8e1140feaf0",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "Power Display",
        "label": "Power",
        "format": "{{msg.payload}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 800,
        "y": 400,
        "wires": []
    },
    {
        "id": "c2c3e8e589c4d7bb",
        "type": "influxdb out",
        "z": "49091907c6942e4b",
        "d": true,
        "influxdb": "5a9fbceb545eeefe",
        "name": "",
        "measurement": "voltage_nancy",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "THM",
        "bucket": "IEM",
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "2d695f381f415bbf",
        "type": "mqtt in",
        "z": "49091907c6942e4b",
        "name": "Panel Current",
        "topic": "cesithmcoil2025/nancy-friedberg/nancy/panelpower",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "55253578026650cc",
                "da5d49f4301ca98a"
            ]
        ]
    },
    {
        "id": "0307f1353be6a1f3",
        "type": "influxdb out",
        "z": "49091907c6942e4b",
        "d": true,
        "influxdb": "5a9fbceb545eeefe",
        "name": "",
        "measurement": "current_nancy",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "THM",
        "bucket": "IEM",
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "da5d49f4301ca98a",
        "type": "influxdb out",
        "z": "49091907c6942e4b",
        "d": true,
        "influxdb": "5a9fbceb545eeefe",
        "name": "",
        "measurement": "power_nancy",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "THM",
        "bucket": "IEM",
        "x": 870,
        "y": 440,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto Test Broker",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 15,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthQos": "0",
        "willQos": "0"
    },
    {
        "id": "010cd8e1140feaf0",
        "type": "ui_group",
        "name": "Sunergy Nancy",
        "tab": "dashboard_tab",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a9fbceb545eeefe",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "THM Solargraph",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://172.28.192.1:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Solar Tracker",
        "icon": "dashboard"
    }
]